process {
  withLabel: lowmem { memory = 20.Gb }
  withLabel: verylowcpu { cpus = 4 }
  withLabel: lowcpu { cpus = 8 }
  withLabel: midmem { memory = 50.Gb }
  withLabel: midcpu { cpus = 20 }
  withLabel: highmem { memory = 100.Gb }
  withLabel: veryhighmem { memory = 600.Gb }
  withLabel: highcpu { cpus = 40 }
  withLabel: lowtime { time = 1.h }
  withLabel: midtime { time = 6.h }
  withLabel: hightime { time = 24.h }
  withLabel: veryhightime { time = 48.h }
  errorStrategy = 'ignore'
}


