__merge__: /src/api/comp_method.yaml
name: seurat_sel_ilisi
label: Seurat-CCA Selected by iLISI
summary: Canonical Correlation Analysis with Seurat. Requires pre-computed Seurat
description: |
  ...
references:
  doi: 10.1038/s41587-023-01767-y
links:
  repository: https://github.com/satijalab/seurat
  documentation: https://satijalab.org/seurat/
info:
  method_types: [embedding]
  preferred_normalization: log_cp10k
arguments:
  - name: --n_comps
    type: integer
    default: 50
    description: Selected mbedding dimension
  - name: --n_comps_init
    type: integer
    default: 100
    description: Initial mbedding dimension    
resources:
  - type: python_script
    path: script.py
  - path: /src/utils/read_anndata_partial.py
engines:
  - type: docker
    image: openproblems/base_python:1
    setup:
      - type: python
        pypi:
          - scib==1.1.7
runners:
  - type: executable
  - type: nextflow
    directives:
      label: [midcpu, highmem, hightime]
