__merge__: /src/api/comp_method.yaml
name: liger_sel_pcr
label: LIGER selected by PCR
summary: Linked Inference of Genomic Experimental Relationships
description: |
  LIGER or linked inference of genomic experimental relationships uses iNMF
  deriving and implementing a novel coordinate descent algorithm to efficiently
  do the factorization. Joint clustering is performed and factor loadings are
  normalised.
references:
  doi: 10.1016/j.cell.2019.05.006
links:
  repository: https://github.com/welch-lab/liger
  documentation: https://github.com/welch-lab/liger
info:
  method_types: [embedding]
  preferred_normalization: log_cp10k
arguments:
  - name: --n_comps
    type: integer
    default: 50
    description: Embedding dimension (max)
  - name: n_comps_init
    type: integer
    default: 100
    description: Initial embedding dimension (max)
resources:
  - type: python_script
    path: script.py
  - path: /src/utils/read_anndata_partial.py
engines:
  - type: docker
    image: openproblems/base_python:1
    setup:
      - type: python
        pypi:
          - scib==1.1.7
runners:
  - type: executable
  - type: nextflow
    directives:
      label: [lowcpu, highmem, lowtime]
