__merge__: /src/api/comp_method.yaml
name: nmf_sel_pcr
label: NMF selected by PCR
summary: Non-negative matirx factorization
description: |
  It's NMF
references:
  # Pedregosa, F., Varoquaux, G., Gramfort, A. et al.
  # Scikit-learn: Machine Learning in Python
  # arXiv, 1201.0490v4 (2018). https://doi.org/10.48550/arXiv.1201.0490
  doi: 10.48550/arXiv.1201.0490
links:
  repository: https://github.com/scikit-learn/scikit-learn/
  documentation: https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.NMF.html
info:
  method_types: [embedding]
  preferred_normalization: log_cp10k 
arguments:
  - name: --n_comps
    type: integer
    default: 50
    description: Selected embedding dimension  
  - name: --max_iter
    type: integer
    default: 500
    description: Max NMF iterations      
  - name: --n_comps_init
    type: integer
    default: 100
    description: Initial embedding dimension
resources:
  - type: python_script
    path: script.py
  - path: /src/utils/read_anndata_partial.py
engines:
  - type: docker
    image: openproblems/base_python:1
    setup:
      - type: python
        pypi:
          - scib==1.1.7
runners:
  - type: executable
  - type: nextflow
    directives:
      label: [midcpu, highmem, lowtime]
